.list.archived span {
  text-decoration: line-through;
}

.list.archived {
  opacity: 0.5;
}

:root {
  --color-primary: #4324bf;
  --color-bg: #120334;
  --color-white: #fff;
  /* --color-secondary: #18023b; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  padding: 10px;
  background: var(--color-bg);
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  box-shadow: 0 2px 10px var(--color-primary);
}

.title {
  font-family: cursive;
  color: var(--color-white);
}

.btn_theme {
  padding: 10px;
  margin-top: 10px;
  background: var(--color-bg);
  border-radius: 3px;
  font-size: 1.4em;
  display: flex;
  gap: 5px;
  color: var(--color-white);
}

.container {
  margin: auto;
  width: 100%;
  max-width: 768px;
  margin-top: 120px;
  padding: 10px;
  border-radius: 3px;
  background: var(--color-primary);
}

.container > div {
  width: 100%;
  max-width: 576px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-bg);
  height: 35px;
  overflow: hidden;
  border-radius: 2px;
}

.container > div input[type="text"] {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  color: var(--color-white);
}

.container > div button {
  min-width: 100px;
  width: fit-content;
  padding: 10px;
  height: 100%;
  border: none;
  background: var(--color-white);
}

.list {
  margin-top: 10px;
  text-align: justify;
  border-bottom: 2px solid var(--color-bg);
}

.list span {
  color: var(--color-white);
}

.list .btns {
  gap: 10px;
  margin: 10px 0;
  display: flex;
}

.list .btns button {
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  color: var(--color-white);
  background: var(--color-bg);
}
